<input #t id="playerName" [(ngModel)]="playerName" (change)="playerChanged($event,t.value)" placeholder="Player Name"/>


<br>
Data for {{PlayerName}} over the last {{totalRecords}} games
<table>
  <tr>
    <th>Map Name</th>
    <th>Total Plays</th>
    <th>Total Wins</th>
    <th>Win %</th>
    <th>Avg Game (Kills - Deaths)</th>
    <th>Avg Game (KDA)</th>
    <th>Avg Kills</th>
    <th>Avg Assists</th>
    <th>Avg Deaths</th>
  </tr>
  <tr *ngFor="let mapStat of mapStatsArray">
    <td title="{{mapStat.MapData.description}}">{{mapStat.MapData.name}}</td>
    <td>{{mapStat.TotalMatches}}</td>
    <td>{{mapStat.TotalWins}}</td>
    <td>{{(mapStat.TotalWins/mapStat.TotalMatches)| percent:'.2'}}</td>
    <td>{{(mapStat.TotalKills - mapStat.TotalDeaths)/mapStat.TotalMatches| number:'.1'}}</td>
    <td>{{ mapStat.KDA | number:'.1'}}</td>
    <td>{{(mapStat.TotalKills)/mapStat.TotalMatches| number:'.1'}}</td>
    <td>{{(mapStat.TotalAssists)/mapStat.TotalMatches| number:'.1'}}</td>
    <td>{{(mapStat.TotalDeaths)/mapStat.TotalMatches| number:'.1'}}</td>

  </tr>
</table>
<br>
<button md-raised-button>Raised Button Example</button>
